<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.automationpractice.tests.HomepageTest"/>
      <class name="com.automationpractice.tests.LoginTest"/>
      <class name="com.automationpractice.tests.SearchTest"/>
      <class name="com.automationpractice.tests.SwitchTabTest"/>
      <class name="com.automationpractice.base.BaseTest"/>
      <class name="com.automationpractice.tests.HomeBannersTest"/>
      <class name="com.automationpractice.tests.CreateAccountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
